*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;

}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 20px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: rgba(128, 128, 128, 0.438);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh !important;
    background: url(/pagina_tuscalzados/bosqueya.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase; 
    color: rgba(4, 39, 35, 0.653);
}

p {
    margin-bottom: 40px;
    font-size: 17px;
    color: grey;

}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid gray;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: rgba(128, 128, 128, 0.502);
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: rgb(0, 0, 0);
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box{
    height: 11rem;
    width: 17rem;
    background: rgb(0, 0, 0);
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgb(254, 211, 1);
    margin: 2rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: rgba(254, 211, 1, 0.908);
    background: rgb(0, 0, 0);
    font-size: 2rem;
}